@font-face {
    font-family: 'Mons-B';
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');

}
@font-face {
    font-family: 'Mons-Eb';
    src: url(../fonts/Montserrat-ExtraBold.ttf) format('truetype');

}
@font-face {
    font-family: 'Mons-M';
    src: url(../fonts/Montserrat-Medium.ttf) format('truetype');

}
@font-face {
    font-family: 'Open-SR';
    src: url(../fonts/OpenSans-Regular.ttf) format('truetype');

}
@font-face {
    font-family: 'Open-SB';
    src: url(../fonts/OpenSans-SemiBold.ttf) format('truetype');

}
