@media (max-width: 768px) {
    .header__wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        object-fit: cover;
       } 

      
} 

@media (max-width: 1010px) {
    .header__wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
}